<div class="conatiner">
    <div class="row">
      <div class="container">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <h1 class="heading-compnay">Share N Ride Goals</h1>
                <br>
                
                  <ul>
                  <li><p>To Over come the existing UCM transportaion problem.</p></li>
                  <li><p>Increase the frequency and availability of transporation between UCM main campus and Lee summit Campus.</p></li>
                  <li><p>Shanre N ride enable students to have a safe journey to their destinations with their fellow UCM mules.</p></li>
                  <li><p>With ShareNride, students can save money and fuel expenses by sharing their ride.</p></li>
                  <li><p>Students can Request a custom ride as per their convenience.</p></li>
                  <li><p> students as Drivers can earn money during free time accepting custom requested rides.</p></li>
                
                
                   </ul>
              
                  <br>
              
              </div>
              <div class="col-md-1"></div>
            </div>
    
        </div>
      </div>
      <br><br>
    <p></p>
    </div>
    
    </div>