
<nav class="navbar navbar-default">
    <a  class="pull-left" style="cursor:pointer;" >  <img src="../../../assets/images/mules.png"></a>
    
    <div class="container-fluid">
      
      <div class="navbar-header">
          <!-- <a class="navbar-brand" style="cursor:pointer;" >
              <img src="../../../assets/images/mules">
          </a> -->
         
      <a class="navbar-brand" style="cursor:pointer;" (click)="homeRoute()">ShareNRide</a>
      </div>
      <ul class="nav navbar-nav">
          
          <li style="cursor:pointer;"  ><a routerLink="/About-us">About US</a></li>
          <li  style="cursor:pointer;"  ><a routerLink="/Benifits">Benifits</a></li>
          <li  style="cursor:pointer;"  ><a routerLink="/how-it-works">How it works</a></li>
          <li  class="pull-left" style="cursor:pointer;"  ><a *ngIf="isLoggedIn" (click)="logout()">SignOut</a></li>
        
        
      </ul>
    </div>
  </nav>