
 
   <!-- <app-topnav></app-topnav> -->
   <div class="container">        
     <div class="row">                  
     <div class="col-md-12">
         <ul class="nav nav-tabs">
             <li role="presentation" routerLinkActive="active" ><a routerLink="./available-rides">Available Rides</a></li>
             <li role="presentation" routerLinkActive="active" ><a routerLink="./request-ride">Request Custom Rides</a></li>
             <!-- <li role="presentation" routerLinkActive="active" ><a routerLink="./post-ride">Post a Ride</a></li> -->
             <li role="presentation" routerLinkActive="active" ><a routerLink="./rider-current-rides">My Current Rides</a></li>
             <li role="presentation" routerLinkActive="active" ><a routerLink="./rider-ride-history"> My Journey</a></li>
         </ul>
      </div>
      </div>
      <div class="row">                  
       <div class="col-md-12">

           <router-outlet></router-outlet>
         </div></div>



 </div>
       
     
       
       
       
    
   
