<div class="conatiner">
<div class="row">
  <div class="container">
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h1 class="heading-compnay">Share N Ride</h1>
            <br>
            <p>Share N ride is a Unique ride sharing app for Students at University of central Missouri.
              <br><br>
              The main goal of the application is to enable students to have a comoon platform to share and request rides from UCM to near by destinations.
              <br>
            </p>
          </div>
          <div class="col-md-1"></div>
        </div>

    </div>
  </div>
  <br><br>
<p></p>
</div>

</div>