/* .container-fluid{
    background-image: url('../../assets/images/carpool-students.jpg');
    background-size:100% 100%;
    background-color: blue;
    width:100%;
    height:100%;
     background-repeat: no-repeat;

    
   
} */

.carpool-img{
    background-image: url("../../assets/images/carpool-students.jpg");
   min-width:100%;
   min-height:100%;   
    background-size: cover;
    background-repeat: no-repeat;
  
    /* background-position: 50% 50%; */
}