<div class="conatiner">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h1 class="heading-compnay">How It works</h1>
            <br>
            <ul>
              <li> UCM Mules can register as both Rider and Driver or Just as a Rider.</li>
              <li> Students or any UCM Mule Drivers willing to share their ride can posts the availbility  with ride details.</li>
              <li> Users can Login and see for the availbility of rides</li>
              <li> If no suitable ride is found create a costumn ride. </li>
              <li> Riders can use coupons to get discounts on each ride</li>
              <li>Once the ride is ended users can see their Ride History and keep track of their expenses</li>
            </ul>

          </div>
          <div class="col-md-1"></div>
        </div>

      </div>
    </div>
    <br>
    <br>
    <p></p>
  </div>

</div>