.conatiner{
    background-color:violet;
    height: 630px;
}
.heading-compnay{
    padding-left:50px;
    text-align:center;
}
li{
    font-size: 2rem;
}
body {
    min-height: 100vh;
  }
  img{
      height:50px;
      width:50px;
  }